/*font family*/
@font-face {
  font-family: 'yekan';
  font-weight: 400;
    font-style: normal;
  src: url('/assets/fonts/yekan/eot/Yekan.eot');
  src: local('☺'), 
       url('/assets/fonts/yekan/woff/Yekan.woff') format('woff'), 
       url('/assets/fonts/yekan/ttf/Yekan.ttf') format('truetype'), 
       url('/assets/fonts/yekan/woff2/Yekan.woff2') format('woff2');
}
  @font-face {
    font-family: 'yekan';
    font-weight: bold;
      font-style: normal;
    src: url('/assets/fonts/yekan/eot/BYekan.eot');
    src: local('☺'), 
         url('/assets/fonts/yekan/woff/BYekan.woff') format('woff'), 
         url('/assets/fonts/yekan/ttf/BYekan.ttf') format('truetype'), 
         url('/assets/fonts/yekan/woff2/BYekan.woff2') format('woff2');
  }
  

  /*body*/
  body, button{
    font-family: "yekan";
  }